version: '3.9'
services:
  postgres:
    image: postgres:15.3-alpine3.18
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"

  core:
    build:
      target: production
      context: ./Core
    ports:
      - "8000:80"
    volumes:
      - ./Core:/source/
    env_file:
      - .env
    depends_on:
      - postgres
    logging:
      options:
        max-size: "50m"

  telegram-bot:
    build:
      target: production
      context: ./TelegramBot
    volumes:
      - ./TelegramBot:/source/
    env_file:
      - .env
    logging:
      options:
        max-size: "50m"
  
  web:
    build:
      context: ./Web
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_WEB_ROOT_URL: ${VITE_WEB_ROOT_URL}
        VITE_TELEGRAM_BOT_URL: ${VITE_TELEGRAM_BOT_URL}
    restart: on-failure
    ports:
      - "8001:80"
    env_file:
      - .env
    logging:
      options:
        max-size: "50m"
